root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space

[*.cs]
indent_size = 4
csharp_style_namespace_declarations = file_scoped
dotnet_diagnostic.IDE0161.severity = warning
dotnet_style_namespace_match_folder = true
dotnet_diagnostic.IDE0130.severity = warning

[*.{js,jsx,ts,tsx,css,json,html}]
indent_size = 2
max_line_length = 100

[*.md]
trim_trailing_whitespace = false

[Subtra/Migrations/**.cs]
generated_code = true